# git ignore
xcuserdata
.DS_Store
*.mdb  
*.ldb  
*.sln  
*.config
*.bin
app/.externalNativeBuild/
build/
.gradle/
.idea/
app/app.iml
hssFilterCamera.iml
hsscamerafilterlibrary/hsscamerafilterlibrary.iml
local.properties
